@keyframes bg_animation{
    0%{
       opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes left_bubble{
    0%, 100%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
}
@keyframes right_bubble{
    0%, 100%{
        transform: translateY(3px);
    }
    50%{
        transform: translateY(-3px);
    }
}